Repository VOAH-Platform/VOAH-official-message, pull requests merged in 2023-10, with the labels that each got.

#3 chore: added missing core depended feature
  .gitignore
  .vscode/settings.json
  backend/middleware/auth.go
  backend/utils/permission/permission.go
  backend/utils/validator/validator.go
Labels: enhancement, backend

#8 fix and refactored not working websocket code
  backend/controllers/chat/get.go
  backend/controllers/chat/send.go
  backend/middleware/auth.go
  backend/routers/chat.router.go
  backend/websockets/handler.go
  backend/wshandler/chat.go
Labels: bug, backend

#10 Feature/chat update delete
  backend/controllers/chat/delete.go
  backend/controllers/chat/update.go
  backend/routers/chat.router.go
Labels: enhancement, backend

#13 Feature/permssion check on chat
  backend/configs/module.go
  backend/controllers/chat/delete.go
  backend/controllers/chat/get.go
  backend/controllers/chat/send.go
  backend/controllers/chat/update.go
  backend/middleware/auth.go
  backend/utils/permission/permission.go
Labels: enhancement, backend

#16 Feature/channel create, fixed channel model bug
  backend/controllers/channel/create.go
  backend/models/channel.go
  backend/routers/channel.router.go
  backend/routers/initialize.go
Labels: bug, enhancement, backend

#23 feat: add priority on chat
  backend/controllers/chat/send.go
  backend/models/chat.go
  backend/routers/chat.router.go
Labels: enhancement, backend

#24 feat: add on writing user on websocket with redis
  backend/configs/env.go
  backend/configs/load.go
  backend/database/connect.go
  backend/database/database.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/middleware/auth.go
  backend/wshandler/chat.go
  backend/wshandler/timeout.go
Labels: enhancement, backend

#26 hotfix: upgrade to fiber v2.50.0 and resty v2.10.0
  backend/go.mod
  backend/go.sum
Labels: backend, vulnerability

#27 Feature/channel update delete
  backend/controllers/channel/create.go
  backend/controllers/channel/delete.go
  backend/controllers/channel/update.go
  backend/routers/channel.router.go
Labels: enhancement, backend
